@import "tailwindcss";

:root {
  --primary-color: #f0f8ff;
  --secondary-color: #a6c8ff;
  --color-invert: invert;
  --card-1: #4d74d4;
  --card-2: #b4d6ff;
  --btn-color: #6a8eee;
  --input-color: #d6e6ff;
  --text-color: #0b2447;
  --text-color-2: #5f38fa;
  --border-color: #0b2447;
  --shadow: #0b244766;
}

.dark-theme {
  --primary-color: #071326;
  --secondary-color: #1a2b47;
  --color-invert: none;
  --card-1: #00a7c4;
  --card-2: #3c8b9d;
  --btn-color: #00bfff;
  --input-color: #10223f;
  --text-color: #eaf6ff;
  --text-color-2: #67e8f9;
  --border-color: #eaf6ff;
  --shadow: #eaf6ff99;
}

.broken {
  --primary-color: #1a051a;
  --secondary-color: #331a33;
  --card-1: #8a0000;
  --card-2: #5c0000;
  --btn-color: #cc6699;
  --input-color: #2f0a2f;
  --text-color: #f0e0f0;
  --text-color-2: #a37f9e;
  --border-color: #4d264d;
  --shadow: #8a00004d;
}

.paid-font {
  font-family: "Gabriela", serif;
  font-weight: 400;
  font-style: normal;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--text-color);
  scrollbar-width: thin;
  scrollbar-color: var(--border-color) #e6000000;
  scroll-behavior: smooth;
}

/* Sun and Moon animation classes */
.sun {
  position: absolute;
  top: 8%;
  right: 5%;
  border-radius: 9999px;
  box-shadow: 0 0 60px 10px #fde04788;
  width: 80px;
  height: 80px;
  background: #fde047;
  opacity: 1;
  transform: scale(1);
  z-index: 30;
  transition:
    opacity 0.6s,
    transform 0.5s linear;
}
.sun.hide {
  opacity: 0;
  transform: translateX(225px);
}

.moon {
  position: absolute;
  top: 8%;
  left: 5%;
  border-radius: 9999px;
  box-shadow: 0 0 40px 5px #f1f5f9aa;
  width: 70px;
  height: 70px;
  background: #f1f5f9;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  z-index: 30;
  transition:
    opacity 0.6s,
    transform 0.5s linear;
}
.moon.hide {
  opacity: 0;
  transform: scale(0) rotate(0deg);
  transform: translateX(-225px);
}

.mp3e-bg {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3e%3cpath fill='%233b82f6' fill-opacity='0.7' d='M0,160L48,176C96,192,192,224,288,224C384,224,480,192,576,181.3C672,171,768,181,864,197.3C960,213,1056,235,1152,218.7C1248,203,1344,149,1392,122.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3e%3c/path%3e%3c/svg%3e");
  background-size: cover;
  animation: wave 25s linear infinite;
  z-index: 1;
}

.mp3e-bg-2 {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3e%3cpath fill='%2360a5fa' fill-opacity='0.6' d='M0,224L48,208C96,192,192,160,288,160C384,160,480,192,576,202.7C672,213,768,203,864,186.7C960,171,1056,149,1152,154.7C1248,160,1344,192,1392,208L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3e%3c/path%3e%3c/svg%3e");
  background-size: cover;
  animation: wave 20s linear infinite reverse;
  z-index: 0;
}

@keyframes wave {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-45%);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 1;
    scale: 2;
  }
  50% {
    opacity: 0.5;
    scale: 1;
  }
}

@keyframes cloud-flow {
  0% {
    transform: translateX(130vw);
  }
  100% {
    transform: translateX(-20vw);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.2s;
}

@keyframes explode {
  0% {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.5) rotate(15deg);
    opacity: 0;
  }
}

.animate-explode {
  animation: explode 0.3s ease-out forwards;
}

button {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}
